### Comparing SVC models with and without best features.

Lastly, we used RFE to select best features. Now we will compare SVM model with and without these features to show the effect of feature selection

In [21]:
import pandas as pd
from sklearn.svm import SVC
from sklearn.model_selection import cross_validate
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import precision_score, recall_score,accuracy_score

In [2]:
df = pd.read_csv("data_desc.csv")

In [3]:
df.head()

,MaxEStateIndex,MinEStateIndex,MaxAbsEStateIndex,MinAbsEStateIndex,qed,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,NumRadicalElectrons,...,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea,y,ids
0,13.617436,-0.929926,13.617436,0.000172,0.715404,401.491,382.339,401.119798,144.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,COc1ccc(C2=NNC3(S2)C(=O)N(Cc2ccccc2)c2ccccc23)cc1
1,12.597521,-4.397878,12.597521,0.005121,0.656845,383.370,363.210,383.145676,146.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,C[C@H](Cc1ccc(C(F)(F)F)cc1)C(=O)NC[C@@]1(C2CC2...
2,12.335534,-4.749727,12.335534,0.252888,0.715099,428.432,409.280,428.101763,156.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,O=C(NC[C@H]1CC[C@H](C(=O)O)CC1)c1cc(-c2ccc(OC(...
3,13.305027,-3.952027,13.305027,0.100630,0.441669,452.532,428.340,452.140593,166.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Cc1ccc(S(=O)(=O)N2CCc3cc(OCc4ccccc4)ccc3C2C(=O...
4,12.980143,-3.992580,12.980143,0.000307,0.361576,363.395,346.259,363.088892,132.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,Nc1ccc(S(=O)(=O)N2CCc3cc(O)ccc3C2C(=O)NO)cc1

In [5]:
df.drop("ids",axis=1,inplace=True)

In [6]:
df.head()

,MaxEStateIndex,MinEStateIndex,MaxAbsEStateIndex,MinAbsEStateIndex,qed,MolWt,HeavyAtomMolWt,ExactMolWt,NumValenceElectrons,NumRadicalElectrons,...,fr_sulfonamd,fr_sulfone,fr_term_acetylene,fr_tetrazole,fr_thiazole,fr_thiocyan,fr_thiophene,fr_unbrch_alkane,fr_urea,y
0,13.617436,-0.929926,13.617436,0.000172,0.715404,401.491,382.339,401.119798,144.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,12.597521,-4.397878,12.597521,0.005121,0.656845,383.370,363.210,383.145676,146.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
2,12.335534,-4.749727,12.335534,0.252888,0.715099,428.432,409.280,428.101763,156.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,13.305027,-3.952027,13.305027,0.100630,0.441669,452.532,428.340,452.140593,166.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,12.980143,-3.992580,12.980143,0.000307,0.361576,363.395,346.259,363.088892,132.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [7]:
df_best = pd.read_csv("data_best.csv")

In [8]:
df_best.head()

,MinEStateIndex,MinAbsEStateIndex,qed,FpDensityMorgan3,BCUT2D_MWLOW,BCUT2D_LOGPHI,BCUT2D_LOGPLOW,BCUT2D_MRLOW,BalabanJ,BertzCT,...,fr_imide,fr_methoxy,fr_piperdine,fr_piperzine,fr_priamide,fr_pyridine,fr_sulfonamd,fr_sulfone,fr_thiophene,y
0,-0.929926,0.000172,0.715404,2.482759,10.092103,2.504927,-2.436480,-0.120704,1.482119,1098.620517,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,-4.397878,0.005121,0.656845,2.370370,9.922879,2.406043,-2.570896,-0.137298,1.576133,759.355620,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,-4.749727,0.252888,0.715099,2.413793,9.818650,2.292612,-2.316165,-0.274197,1.528090,859.084358,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,-3.952027,0.100630,0.441669,2.500000,9.933778,2.358864,-2.461242,-0.133255,1.637049,1210.896799,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
4,-3.992580,0.000307,0.361576,2.520000,9.934507,2.354589,-2.461013,-0.133255,2.097181,911.867473,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [33]:
def build_model(ds):
    X = ds.drop("y",axis=1)
    y = ds["y"]
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42,stratify=y)
    s = StandardScaler()
    X_train = pd.DataFrame(s.fit_transform(X_train),columns=X_train.columns)
    X_test = pd.DataFrame(s.transform(X_test),columns=X_test.columns)
    svm = SVC(kernel="linear",random_state=42)
    svm.fit(X_train,y_train)
    y_train_pred = svm.predict(X_train)
    y_test_pred = svm.predict(X_test)
    cv_results = cross_validate(svm,X_train,y_train,cv=5,scoring=["precision","recall","accuracy"])
    training_precision = precision_score(y_train,y_train_pred)
    training_recall = recall_score(y_train,y_train_pred)
    training_acc= accuracy_score(y_train,y_train_pred)
    test_precision = precision_score(y_test,y_test_pred)
    test_recall = recall_score(y_test,y_test_pred)
    test_acc= accuracy_score(y_test,y_test_pred)
    return y_train_pred,y_test_pred,cv_results,training_precision,training_recall,training_acc,test_precision,test_recall,test_acc

In [34]:
df_results = build_model(df)

In [35]:
df_results

(array([1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 0.,
        1., 0., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 0.,
        1., 0., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1.,
        1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 0., 1., 0., 1., 1., 1., 1.,
        1., 1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 0., 0., 1., 1., 1.,
        1., 1., 0., 0., 0., 0., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 0., 1., 0., 0., 0., 1., 1., 1., 0., 1., 0., 1., 1., 0., 1.,
        0., 0., 0., 0., 0., 1., 0., 1., 0., 1., 1., 1., 1., 1., 1., 0., 1.,
        1., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 0., 1., 1., 1., 1.,
        0., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0.,
        1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1., 1., 0., 1., 0., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0.,
        1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 1., 0., 1., 1., 1., 0.,
        1., 1., 0., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0., 1., 1.,
        0., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 0., 1., 1., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1., 0., 1., 1., 0.,
        0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 1., 0., 1., 1., 0., 0.,
        1., 1., 1., 1., 0., 1., 1., 0., 1., 1., 1., 1., 1., 0., 0., 1., 1.,
        1., 1., 1., 1., 1., 1., 0., 1., 1., 0., 0., 1., 0., 1., 0., 1., 0.,
        1., 1., 1., 0., 0., 1., 1., 0., 1., 1., 0., 1., 1., 0., 1., 0., 1.,
        1., 1., 1., 1., 1., 1., 1., 1., 0., 0., 1., 1., 0., 0., 1., 1., 1.,
        1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 1., 0., 0., 1., 1., 1., 1.,
        1., 0., 0., 1., 1.]),
 array([1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 0., 1., 1., 1., 0., 1., 1.,
        0., 0., 1., 1., 1., 1., 1., 1., 1., 0., 1., 1., 1., 1., 0., 1., 1.,
        0., 1., 0., 0., 1., 1., 1., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1.,
        1., 0., 1., 1., 0., 1., 1., 1., 0., 0., 0., 1., 0., 1., 1., 0., 1.,
        0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 0., 1., 0., 1.,
        1., 1., 1., 1., 0., 0., 0., 1., 0., 0.]),
 {'fit_time': array([0.01461601, 0.00759101, 0.00718284, 0.00649405, 0.00665998]),
  'score_time': array([0.00528026, 0.00558996, 0.00415993, 0.00375175, 0.00409722]),
  'test_precision': array([0.92727273, 0.90740741, 0.97826087, 0.85714286, 0.96      ]),
  'test_recall': array([0.96226415, 0.9245283 , 0.8490566 , 0.92307692, 0.92307692]),
  'test_accuracy': array([0.92105263, 0.88157895, 0.88157895, 0.84210526, 0.92      ])},
 0.9886363636363636,
 0.9923954372623575,
 0.9868073878627969,
 0.9230769230769231,
 0.9090909090909091,
 0.8842105263157894)

In [36]:
pd.DataFrame(df_results[2]).describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,5.0,0.008509,0.003442,0.006494,0.006660,0.007183,0.007591,0.014616
score_time,5.0,0.004576,0.000807,0.003752,0.004097,0.004160,0.005280,0.005590
test_precision,5.0,0.926017,0.047370,0.857143,0.907407,0.927273,0.960000,0.978261
test_recall,5.0,0.916401,0.041213,0.849057,0.923077,0.923077,0.924528,0.962264
test_accuracy,5.0,0.889263,0.032777,0.842105,0.881579,0.881579,0.920000,0.921053

In [37]:
df_best_results = build_model(df_best)

In [38]:
pd.DataFrame(df_best_results[2]).describe().T

,count,mean,std,min,25%,50%,75%,max
fit_time,5.0,0.006838,0.002717,0.004919,0.005727,0.005924,0.005980,0.011638
score_time,5.0,0.003877,0.000796,0.003213,0.003326,0.003438,0.004369,0.005040
test_precision,5.0,0.937298,0.028665,0.892857,0.927273,0.943396,0.960000,0.962963
test_recall,5.0,0.954427,0.028522,0.905660,0.961538,0.961538,0.962264,0.981132
test_accuracy,5.0,0.923509,0.025221,0.894737,0.907895,0.921053,0.933333,0.960526

In [41]:
pd.Series(df_results[3:],index=["tr_precision","tr_rcall","tr_acc","test_precision","test_precision","test_precision"])

tr_precision      0.988636
tr_rcall          0.992395
tr_acc            0.986807
test_precision    0.923077
test_precision    0.909091
test_precision    0.884211
dtype: float64

In [42]:
pd.Series(df_best_results[3:],index=["tr_precision","tr_rcall","tr_acc","test_precision","test_precision","test_precision"])

tr_precision      0.988636
tr_rcall          0.992395
tr_acc            0.986807
test_precision    0.938462
test_precision    0.924242
test_precision    0.905263
dtype: float64

#### As seen, the dataset with selected features showed better results.